
:root {
	background: #37474F;
	font-family: -apple-system,
	             BlinkMacSystemFont,
	             "Segoe UI",
	             Roboto,
	             Oxygen-Sans,
	             Ubuntu,
	             Cantarell,
	             "Helvetica Neue",
	             sans-serif;
	width: 276px;
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
.results {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 146px;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
}

.results_empty {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	height: 100%;
	padding: 1em;
}

.results__item {
	cursor: pointer;
}

.result {
	position: relative;
}

.result__image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.result__no-image {
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	margin: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #fff;
	padding: 1em;
	text-align: center;
}
.result__year {
	font-size: .8em;
	color: #E0F2F1;
}
